body {
	background-image: url('/green-background.jpg');
}

a {
	border-left: 1px solid #9D9D99;
}

.jumbotron {
	opacity: 0.7;
	padding: 20px;
}

.panel {
	text-align: center;
	font-size: 20pt;
	opacity: 0.7 !important;
}

.img-rounded {
	margin-bottom: 10px;
}

